<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630848574223-3lm4cseqt7m9joinerhue22g3lucovaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630848574223-3lm4cseqt7m9joinerhue22g3lucovaf</string>
	<key>API_KEY</key>
	<string>AIzaSyD0Qlhw5rFku0oR7MH7lBN8Ni_MiLn5Upg</string>
	<key>GCM_SENDER_ID</key>
	<string>630848574223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zac.labsol.sezamiapp</string>
	<key>PROJECT_ID</key>
	<string>sezami-8f3b5</string>
	<key>STORAGE_BUCKET</key>
	<string>sezami-8f3b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630848574223:ios:94214df425b71b7159e47a</string>
	<key>DATABASE_URL</key>
	<string>https://sezami-8f3b5.firebaseio.com</string>
</dict>
</plist>